@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }

  * {
    @apply border-zinc-800;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #09090b;
  }

  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272a #09090b;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
